* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.background{
    background : url('../images/HP.jpg') no-repeat;
    background-size:100%;
    display: block;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

#logo {
    padding:35px;
    margin-left:25px;
    position: fixed;
    z-index: 2;
}
#text{
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.blur {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 25%;
    left: 40%;
    right: 40%;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2;
    /* padding: 0 10px; */
    width: 20%;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-left:10%;
    margin-right:10%;
}